<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ccw.testonline.entity.Teacher" >

  <resultMap id="BaseResultMap" type="com.ccw.testonline.entity.Teacher" >
    <id column="tea_id" property="teaId" jdbcType="INTEGER" />
    <result column="tea_name" property="teaName" jdbcType="VARCHAR" />
    <result column="tea_sex" property="teaSex" jdbcType="INTEGER" />
    <result column="tea_password" property="teaPassword" jdbcType="VARCHAR" />
    <result column="tea_email" property="teaEmail" jdbcType="VARCHAR" />
    <result column="tea_phone" property="teaPhone" jdbcType="VARCHAR" />
    
     <association property="academy" column="academy_id" javaType="com.ccw.testonline.entity.Academy">
    	 <id column="academy_id" property="academyId" jdbcType="INTEGER" />
    <result column="academy_name" property="academyName" jdbcType="VARCHAR" />
    <result column="academy_desc" property="academyDesc" jdbcType="VARCHAR" />
    </association>
  </resultMap>
  
  
   <resultMap id="ResultMap" type="com.ccw.testonline.bean.ResultBean" >
    <id column="tea_id" property="id" jdbcType="INTEGER" />
    <result column="tea_name" property="value" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    t.tea_id, t.academy_id, t.tea_name, t.tea_sex, t.tea_password, t.tea_email, t.tea_phone
  </sql>
  
  <sql id="Column_List" >
    t.tea_id, a.academy_id,a.academy_name, t.tea_name, t.tea_sex, t.tea_password, t.tea_email, t.tea_phone
  </sql>
  
  <!-- 表名 -->
	<sql id="TableName">
		Teacher as t,Academy as a
	</sql>
  
  <!-- 查询 -->
	<sql id="mainSql">
		SELECT
			<include refid="Column_List"/>
		FROM
			<include refid="TableName"/>
	</sql>
	
	<sql id="varSql">
		<where>
			<if test="academy_id!=null and academy_id!=''">and t.academy_id = a.academy_id </if>
			<if test="tea_name!=null and tea_name!=''">and t.tea_name like #{teaName} </if>
		</where>
	</sql>
  
  <select id="findListByPage"  parameterType="Map" resultMap="BaseResultMap">
 		<include refid="mainSql"/>
 		<include refid="varSql"/>
		<if test="SORT != null and SORT != ''">
 			order by ${SORT}
 			<if test="DIR != null and DIR != ''">
 				 ${DIR}
 			</if>
 		</if>
	</select>
	
	<select id="getCount" parameterType="java.util.Map" resultType="INTEGER">
		SELECT
			COUNT(*) AS C
		FROM
			<include refid="TableName"/>
		<include refid="varSql"/>
	</select>
  
  <select id="findAll"  parameterType="Map" resultMap="ResultMap">
 		select * from Teacher
	</select>
	
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from Teacher as t
    where t.tea_id = #{teaId,jdbcType=INTEGER}
  </select>
  
  <update id="changePwd" parameterType="com.ccw.testonline.entity.Teacher">
		update Teacher
		set tea_password = #{teaPassword,jdbcType=VARCHAR}
		where tea_id= #{teaId}
	</update>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from Teacher
    where tea_id = #{teaId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ccw.testonline.entity.Teacher" >
    insert into Teacher (tea_id, academy_id, tea_name, 
      tea_sex, tea_password, tea_email, 
      tea_phone)
    values (#{teaId,jdbcType=INTEGER}, #{academy.academyId,jdbcType=INTEGER}, #{teaName,jdbcType=VARCHAR}, 
      #{teaSex,jdbcType=CHAR}, #{teaPassword,jdbcType=VARCHAR}, #{teaEmail,jdbcType=VARCHAR}, 
      #{teaPhone,jdbcType=VARCHAR})
  </insert>
  
  <insert id="insertSelective" parameterType="com.ccw.testonline.entity.Teacher" >
    insert into Teacher
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="teaId != null" >
        tea_id,
      </if>
      <if test="academy.academyId != null" >
        academy_id,
      </if>
      <if test="teaName != null" >
        tea_name,
      </if>
      <if test="teaSex != null" >
        tea_sex,
      </if>
      <if test="teaPassword != null" >
        tea_password,
      </if>
      <if test="teaEmail != null" >
        tea_email,
      </if>
      <if test="teaPhone != null" >
        tea_phone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="teaId != null" >
        #{teaId,jdbcType=INTEGER},
      </if>
      <if test="academy.academyId != null" >
        #{academy.academyId,jdbcType=INTEGER},
      </if>
      <if test="teaName != null" >
        #{teaName,jdbcType=VARCHAR},
      </if>
      <if test="teaSex != null" >
        #{teaSex,jdbcType=CHAR},
      </if>
      <if test="teaPassword != null" >
        #{teaPassword,jdbcType=VARCHAR},
      </if>
      <if test="teaEmail != null" >
        #{teaEmail,jdbcType=VARCHAR},
      </if>
      <if test="teaPhone != null" >
        #{teaPhone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ccw.testonline.entity.Teacher" >
    update Teacher
    <set >
      <if test="academy.academyId != null" >
        academy_id = #{academy.academyId,jdbcType=INTEGER},
      </if>
      <if test="teaName != null" >
        tea_name = #{teaName,jdbcType=VARCHAR},
      </if>
      <if test="teaSex != null" >
        tea_sex = #{teaSex,jdbcType=CHAR},
      </if>
      <if test="teaPassword != null" >
        tea_password = #{teaPassword,jdbcType=VARCHAR},
      </if>
      <if test="teaEmail != null" >
        tea_email = #{teaEmail,jdbcType=VARCHAR},
      </if>
      <if test="teaPhone != null" >
        tea_phone = #{teaPhone,jdbcType=VARCHAR},
      </if>
    </set>
    where tea_id = #{teaId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ccw.testonline.entity.Teacher" >
    update Teacher
    set academy_id = #{academy.academyId,jdbcType=INTEGER},
      tea_name = #{teaName,jdbcType=VARCHAR},
      tea_sex = #{teaSex,jdbcType=CHAR},
      tea_password = #{teaPassword,jdbcType=VARCHAR},
      tea_email = #{teaEmail,jdbcType=VARCHAR},
      tea_phone = #{teaPhone,jdbcType=VARCHAR}
    where tea_id = #{teaId,jdbcType=INTEGER}
  </update>
</mapper>